<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="shared-styles.html">

<link href="../bower_components/flag-icon-css/css/flag-icon.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

<dom-module id="login-form">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment paper-item-shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .card {
        padding: 5%;
        margin-left: 25%;
        margin-right: 25%;
      }

      h5 {
        color: #4d394b
      }

      a {
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      a:hover {
        color: #4d394b;
      }

      #toastErr {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
      }

      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
      }

      paper-icon-item:hover {
        color: #29ad5c;
      }

      .flag {
        vertical-align: middle;
        width: 30px;
        height: 20px;
        margin-left: 5px;
      }

    </style>
    <iron-ajax id="getCheckEmail" method="POST" body='{{postBody}}' handle-as="json" content-type="application/json" on-response="_getCheckEmailSuccess"
      on-error="_getCheckEmailError" url="http://127.0.0.1:3000/dev/v3/checkemail/">
    </iron-ajax>
    <iron-ajax id="getCheckLogin" method="POST" body='{{postBody}}' handle-as="json" content-type="application/json" on-response="_getCheckLoginSuccess"
      on-error="_getCheckLoginError" url="http://127.0.0.1:3000/dev/v3/login/">
    </iron-ajax>
    <paper-toast id="toastErr" class="fit-bottom" text="[[msgErr]]" verticalAlign="top"></paper-toast>
    <div id="container" class="card">

      <form is="iron-form" id="form" method="post">
        <h3>Tech-U Practitioner Col Ed1
          | <img src="../images/colombia.png" alt="Flag" class="flag">
        </h3>
        <h2>[[saludo]][[name]]</h2>
        <paper-spinner active$=[[loading]] hidden$="[[!loading]]"></paper-spinner>
        <template is="dom-if" if="[[showEmail]]">
          <paper-input label="Email" type="email" value="{{email}}"></paper-input>
        </template>
        <template is="dom-if" if="[[showStoredUsers]]">
          <template is="dom-repeat" items="{{storedUsers}}">
            <paper-icon-item on-tap="_checkEmail">
              <iron-icon icon="account-box" slot="item-icon"></iron-icon>
              [[item.user]]
            </paper-icon-item>
          </template>
          <paper-icon-item on-tap="_otherAccount">
            <iron-icon icon="account-box" slot="item-icon"></iron-icon>
            Otra cuenta
          </paper-icon-item>
        </template>

        <template is="dom-if" if="[[showPassword]]">
          <paper-input label="Password" type="password" value="{{password}}"></paper-input>
        </template>

        <br>
        <div class="">
          <div class="horizontal start-justified layout">
            <div>
              <a href="#" on-tap="_showSignUp">Registrate</a>
            </div>
          </div>

          <div class="horizontal end-justified layout">
            <paper-button toggles raised class="green" on-tap="_checkEmail">Continuar</paper-button>
          </div>
        </div>
      </form>
    </div>
  </template>


  <script>
    class LoginForm extends Polymer.Element {
      static get is() { return 'login-form'; }

      static get properties() {
        return {
          msgErr: {
            type: String,
            value: "",
          },
          saludo: {
            type: String,
            value: "Login",
          },
          email: {
            type: String,
            value: "",
          },
          password: {
            type: String,
            value: "",
          },
          name: {
            type: String,
            value: "",
          },
          showEmail: {
            type: Boolean,
            value: false,
          },
          showPassword: {
            type: Boolean,
            value: false,
          },
          showStoredUsers: {
            type: Boolean,
            value: false,
          },
          loading: {
            type: Boolean,
            value: false,
          },
          postBody: {
            type: String,
            computed: 'bodyCheck(showEmail, email, password)'
          },
          storedUsers: {
            type: Array,
            compputed: '_getFromLocalStorage()'
          }

        };
      }

      ready() {
        super.ready();
        this.storedUsers = this._getFromLocalStorage()
        if (this.storedUsers.length > 0) {
          this.showEmail = false;
          this.showStoredUsers = true;
        }else{
          this.showEmail = true;
        }
        console.log(this.storedUsers)
      }

      _otherAccount(){
        this.showStoredUsers = false;
        this.showEmail = true;
      }

      bodyCheck(showEmail, email, password) {
        return !showEmail ? `{"email":"${email}", "password":"${password}"}` : `{"email":"${email}"}`
      }

      _getCheckEmailSuccess(data) {
        this.showEmail = false;
        this.showPassword = true;
        this.name = data.detail.response.first_name;
        this.saludo = "Bienvenido!! ";
        this.loading = false;
      }

      _getCheckLoginError() {
        this.password == "" ? this.msgErr = "Error en la consulta" : this.msgErr = "Error al validar sus datos de acecso";
        this.$.toastErr.fitInto = this.$.container;
        this.$.toastErr.open();
        this.loading = false;
      }

      _getCheckLoginSuccess(data) {
        //console.log(data.detail.response);
        if (data.type === "error" || data.detail.response == null) {
          this._getCheckLoginError();
        } else {
          sessionStorage.setItem("user", data.detail.response._id.$oid);
          this._sendToLocalStorage();
          this.authenticated = true;
          this.loading = false;
          this.storedUsers.length > 0 ? this.showStoredUsers = true : this.showStoredUsers = false;
          this.storedUsers.length == 0 ? this.showEmail = true : this.showEmail = false;
          this.showPassword = false;
          this.email = "";
          this.password = "";
          this.saludo = "Sign In";
          this.name = "";
          this.dispatchEvent(new CustomEvent('logged-ok', { detail: data.detail.response }));
        }

      }

      _getCheckEmailError(e) {
        console.log(e)
        this.email == "" ? this.msgErr = "Error en la consulta" : this.msgErr = "Usuario no encontrado";
        this.$.toastErr.fitInto = this.$.container;
        this.$.toastErr.open();
        this.loading = false;
      }

      _checkEmail(e) {
        console.log(e);
        if(e.target.localName == "paper-icon-item"){
          this.email = e.target.innerText;
          this.showStoredUsers = false;
          this.showEmail = true;
        }
        this.loading = true;
        if (this.showEmail) {
          console.log(this.postBody);
          this.$.getCheckEmail.generateRequest();
        } else {
          console.log(this.postBody);
          this.$.getCheckLogin.generateRequest();
        }
      }

      _sendToLocalStorage() {
        console.log('_sendToLocalStorage')
        var user = { "user": this.email };
        var users = localStorage.getItem("users");
        console.log("users " + users);
        if (users == null) {
          users = [];
          users.push(user);
        } else {
          console.log("Comprobando si ya esta en localStorage" + this.email);
          console.log(users.indexOf(this.email))
          if (users.indexOf(this.email) > 0) return null;
          users = JSON.parse(users)
          console.log("push en array users");
          users.push(user);
        }
        console.log(JSON.stringify(users))
        console.log("gurdar en localStorage");
        localStorage.setItem('users', JSON.stringify(users));
      }

      _getFromLocalStorage() {
        var users = JSON.parse(localStorage.getItem("users"));
        //console.log("userList "+ users);
        if (users == null) {
          users = [];
        }
        return users
      }

      _showSignUp() {
        this.dispatchEvent(new CustomEvent('show-signup'));

      }
    }

    window.customElements.define(LoginForm.is, LoginForm);
  </script>
</dom-module>
