<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link href="../bower_components/flag-icon-css/css/flag-icon.css" rel="stylesheet" type="text/css" crossorigin="anonymous">


<link rel="import" href="shared-styles.html">

<dom-module id="my-accounts">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment paper-item-shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .flex-horizontal-with-ratios {
        @apply --layout-horizontal;
        @apply --layout-wrap;
      }
      .flexchild {
        @apply --layout-flex;
        @apply --layout-center-justified;
        padding: 5px;
      }
      .flex2child {
        @apply --layout-flex-2;
        @apply --layout-center-justified;
        padding: 5px;
      }
      .flex3child {
        @apply --layout-flex-3;
        @apply --layout-center-justified;
        padding: 5px;
      }
      .row:nth-child(odd) {
        background-color: #CEF6F5;
      }
      .row:nth-child(even) {
        background-color: #EFFBFB;
      }
      .row:hover {
        background-color: #4d394b;
        color: #CEF6F5;
        cursor: pointer;
      }

      #toastErr {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
      }
    </style>

      <paper-toast id="toastErr" class="fit-bottom" text="[[msgErr]]" verticalAlign="top"></paper-toast>
      <div id="container" class="card">
        <template is="dom-if" if="!loading">
        <h1>Cuentas</h1>
        <h5>(Para ver el detalle de movimientos haga click en una cuenta)</h5>
        <div role="listbox">
          <iron-list items="[[accounts]]">
            <template>
            <div id="[[item._id.$oid]]" class="row" on-tap="_showMovs">
              <paper-icon-item>
                <iron-icon icon="account-balance" slot="item-icon" style="color:#4c9689"></iron-icon>
                <paper-item-body two-line>
                  <div>
                    <b>IBAN</b> [[item.IBAN]]</div>
                  <div secondary>
                    <b>Balance: </b>[[_formatoImporte(item.balance)]]</div>
                </paper-item-body>
              </paper-icon-item>
            </div>
            </template>
        </iron-list>
          <br>
        </div>
        <div>
          <h3>Balance Global</h3>
          <h4 style="color:#4c9689">[[_formatoImporte(globalBalance)]]</h4>
        </div>
        </template>
        <paper-spinner style="margin-left:50%;" active$=[[loading]] hidden$="[[!loading]]"></paper-spinner>
      </div>

    <iron-ajax id="getAccounts" method="GET" handle-as="json" content-type="application/json" on-response="_getAccountsSuccess"
      on-error="_getAccountsrError" url="[[url]]">
    </iron-ajax>
  </template>

  <script>
    class MyAccounts extends Polymer.Element {
      static get is() { return 'my-accounts'; }
      static get properties() {
        return {
          url: {
            type: String,
            value: ""
          },
          accounts: Object,
          loading: {
            type: Boolean,
            value: true
          },
          globalBalance: {
            type: Number,
            computed: '_getGlobalBalance(accounts)'
          },
          user: {
            type: String
          },
          msgErr: {
            type: String,
            value: ''
          }
        }
      }


      ready() {
        super.ready();
        this.loading = true;
        this.url = "http://127.0.0.1:3000/dev/v3/users/" + sessionStorage.getItem("user") + "/accounts";
        this.$.getAccounts.generateRequest();
      }

      _getAccountsSuccess(data) {
        this.accounts = data.detail.response;
        if(this.accounts.length == 0){
          this.msgErr = "No hay cuentas que mostrar";
          this.$.toastErr.fitInto = this.$.container;
          this.$.toastErr.open();
        }
        console.log(data.detail.response);
        this.loading = false;
      }

      _getAccountsrError(){
        this.loading = false;
      }

      _getGlobalBalance(accounts) {
        console.log("Global Balance");
        console.log(accounts);
        var sum = 0;
        for (var i = 0; i < accounts.length; i++) {
          sum += accounts[i].balance;
          console.log(sum);
        }

        return parseFloat(sum).toFixed(2);
      }

      _showMovs(e) {
        console.log(e.model.item);
        this.dispatchEvent(new CustomEvent('show-pagemovs', { detail: e.model.item }));
      }

      _formatoImporte(importe){
        return numeral(importe).format('$0,0.00');
      }

      _getUser(){

      }
    }

    window.customElements.define(MyAccounts.is, MyAccounts);
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
</dom-module>
