<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="login-form.html">
<link rel="import" href="signup-form.html">


<link rel="lazy-import" href="my-accounts.html">
<link rel="lazy-import" href="my-movements.html">
<link rel="lazy-import" href="my-user.html">
<link rel="lazy-import" href="my-view404.html">

<link href="../bower_components/flag-icon-css/css/flag-icon.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4d394b;
        --app-secondary-color: #beb8be;

        --app-grid-columns: 3;
        /* 50% the width of the item is equivalent to 2:1 aspect ratio*/
        --app-grid-item-height: 50%;

        display: block;
      }

      .item {
        background-color: white;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
        background-color: #4d394b;
      }

      app-header {
        color: #000000;
        background-color: #fff;
      }


      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .toolbar-menu {
        background-color: #4d394b;
        color: #fff;
        font-weight: 600;
        height: 160px;
        padding: 10px;
        flex-direction: column;
        align-content: center;
      }

      .menu-list {
        height: 100%;
        width: 100%;
        background-color: #4d394b;
      }

      .drawer-list-bg {
        background-color: #4d394b;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: #fff;
        background-color: #4c9689;
      }

      .drawer-list a:hover {
        background-color: #352633;
      }

      #drawer-menu:hover {
        background-color: #352633;
      }

      .avatar {
        width: 46px;
        height: 46px;
        margin-top: 10px;
        border-radius: 50%;
        border-style: solid;
        border-color: #EFFBFB;
        border-width: 1.5px;
      }

      .flag {
        vertical-align: middle;
        width: 26px;
        height: 18px;
        margin-left: 5px;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>


    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->

      <template is="dom-if" if="[[authenticated]]">
        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" class="drawer-list-bg">
          <app-toolbar id="drawer-menu" class="toolbar-menu">
            <div style="flex-direction: row">
              Tech-U Col Ed1 |
              <img src="../images/colombia.png" alt="Flag" class="flag">

            </div>
            <img src="[[urlAvatar]]" alt="Example face!" class="avatar">
            <h5>[[user.first_name]]</h5>
          </app-toolbar>
          <div class="menu-list">
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
              <a name="accounts" href="[[rootPath]]accounts" on-tap="_changeTittle">Cuentas</a>
              <a name="user" href="[[rootPath]]user" on-tap="_changeTittle">Usuario</a>
              <a href="#" on-tap="_logOut">Logout</a>
            </iron-selector>
          </div>
        </app-drawer>

        <!-- Main content -->
        <app-header-layout has-scrolling-region>
          <app-header slot="header" condenses reveals effects="waterfall">
            <app-toolbar>
              <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
              <div main-title>
                [[tittle]]
              </div>
              <!-- <paper-icon-button icon="search"></paper-icon-button> -->
            </app-toolbar>
          </app-header>

          <iron-pages selected-attribute="activated" selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
            <my-accounts on-show-pagemovs="_showPageMovs" user="[[user._id.$oid]]" name="accounts"></my-accounts>
            <my-movements on-back="_showAccounts" name="movements" account="[[selAccount]]"></my-movements>
            <my-user name="user"></my-user>
            <my-view404 name="view404"></my-view404>
          </iron-pages>
        </app-header-layout>

      </template>

      <template is="dom-if" if="[[showLogin]]">
        <login-form on-logged-ok="_userLogged" on-show-signup="_showSignUp"></login-form>
      </template>

      <template is="dom-if" if="[[showSignUp]]">
        <signup-form on-show-login="_showLogin"></signup-form>
      </template>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          authenticated: {
            type: Boolean,
            value: false,
          },
          showLogin: {
            type: Boolean,
            value: true,
          },
          showSignUp: {
            type: Boolean,
            value: false,
          },
          tittle: {
            type: String,
            value: 'Bienvenido',
          },
          tittleIcon: {
            type: String,
            value: '',
          },
          user: Object,
          selAccount: {
            type: String,
            value: ""
          },
          urlAvatar: {
            type: String,
            value: ""
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      ready() {
        super.ready();
        if (sessionStorage.getItem("user")) {
          this.tittle = "Usuario";
          this.showLogin = false;
          this.authenticated = true;
        }
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'accounts' in that case.
        this.page = page || 'accounts';

        // Close a non-persistent drawer when the page & route are changed.
        if (this.$.drawer != undefined) {
          if (!this.$.drawer.persistent) {
            this.$.drawer.close();
          }
        }

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      _changeTittle(e) {
        //console.log(e.target.innerText);
        this.tittle = e.target.innerText;
        switch (this.tittle.trim()) {
          case "Cuentas":
            this.tittleIcon = "account-balance";
            break;
          case "Usuario":
            this.tittleIcon = "account-box";
            break;
          default:
            this.tittleIcon = "account-balance"
        }
        console.log(this.tittleIcon);
      }

      _userLogged(e) {
        this.user = e.detail;
        console.log(this.user);
        this.tittle = "Cuentas";
        this.showLogin = false;
        this.authenticated = true;
        this.urlAvatar="https://api.adorable.io/avatars/100/"+sessionStorage.getItem("user")+".png"
      }

      _showSignUp() {
        this.showLogin = false;
        this.showSignUp = true;
      }

      _showLogin() {
        this.showLogin = true;
        this.showSignUp = false;
      }

      _showPageMovs(e) {
        this.selAccount = JSON.stringify(e.detail);
        this.tittle = "Movimientos";
        this.set('route.path', this.rootPath + 'movements');
      }

      _showAccounts() {
        this.tittle = "Cuentas";
        this.set('route.path', this.rootPath + 'accounts');
      }


      _logOut(e) {
        //this.$.drawer.close();
        sessionStorage.removeItem("user");
        this.showLogin = true;
        this.showSignUp = false;
        this.authenticated = false;
        //this.set('route.path', this.rootPath);
        location.reload();
      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
