<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link href="../bower_components/flag-icon-css/css/flag-icon.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

<link rel="import" href="shared-styles.html">
<dom-module id="my-movements">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment paper-item-shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .flex-horizontal-with-ratios {
        @apply --layout-horizontal;
        @apply --layout-wrap;
        vertical-align: middle;
      }
      .flexchild {
        @apply --layout-flex;
        @apply --layout-center-justified;
        padding: 5px;
      }
      .flex2child {
        @apply --layout-flex-2;
        @apply --layout-center-justified;
        padding: 5px;
      }
      .flex3child {
        @apply --layout-flex-3;
        @apply --layout-center-justified;
        padding: 5px;
      }

      .titulo {
        color: #4c9689;
      }
      .row:nth-child(odd) {
        background-color: #CEF6F5;
      }
      .row:nth-child(even) {
        background-color: #EFFBFB;
      }
      .row:hover {
        background-color: #4d394b;
        color: #CEF6F5;
        cursor: pointer;
      }
      .back {
        color: #4c9689;
        border-radius: 50%;
        margin-top: 5px;
        height: 32px;
        width: 32px;
        margin-left: 50%;
      }
      .back:hover {
        background-color: #4d394b;
        font-weight: bold;
        cursor: pointer;
      }
    </style>

    <div class="card">
      <div class="flex-horizontal-with-ratios">
        <div class="flex2child">
            <h1>Movimientos</h1>
        </div>
        <div class="flex3child">
          <h3><iron-icon icon="account-balance" slot="item-icon" style="color:#4c9689"> <b>IBAN</b> </iron-icon> [[objAccount.IBAN]]</h3>
        </div>
        <div class="flexchild">
            <iron-icon icon="arrow-back" slot="item-icon" class="back" on-tap="_goBack"></iron-icon>
        </div>
      </div>
      <div role="listbox">
        <template is="dom-if" if="[[!loading]]">
          <div class="titulo flex-horizontal-with-ratios">
            <div class="flex3child"><h3>Descripción</h3></div>
            <div class="flexchild"><h3>Fecha</h3></div>
            <div class="flex2child"><h3>Importe</h3></div>
          </div>
            <iron-list items="[[movements]]">
            <template>
              <div class="row flex-horizontal-with-ratios" id="[[item.idmov]]" on-tap="">
                  <div class="flex3child">
                    [[item.descripcion]]
                  </div>
                  <div class="flexchild">
                    [[_formatoFecha(item.fecha)]]
                  </div>
                  <div class="flex2child">
                    [[_formatoImporte(item.importe)]]
                  </div>
              </div>
          </template>
          </iron-list>
          <div>
            <h3>Balance</h3>
            <h4 style="color:#4c9689">[[_formatoImporte(objAccount.balance)]]</h4>
          </div>
        </template>
      </div>
      <paper-spinner style="margin-left:50%;" active$=[[loading]] hidden$="[[!loading]]"></paper-spinner>
    </div>


    <iron-ajax id="getMovements" method="GET" handle-as="json" content-type="application/json" on-response="_getMovementsSuccess"
      on-error="_getMovementsError" url="[[url]]">
    </iron-ajax>
  </template>

  <script>
    class MyMovements extends Polymer.Element {
      static get is() { return 'my-movements'; }
      static get properties() {
        return {
          routeData: Object,
          account: {
            type: String,
            observer: '_accountChanged'
          },
          objAccount: Object,
          movements: Object,
          url: {
            type: String,
            value: ""
          },
          loading: {
            type: Boolean,
            value: true
          }
        }
      }

      _goBack(){
        this.dispatchEvent(new CustomEvent('back'));
      }

      _getMovementsSuccess(data) {
        console.log("_getMovementsSuccess");
        this.movements = data.detail.response[0].movimientos;
        console.log("movimientos " + this.movimientos)
        console.log(data.detail.response);
        this.loading = false;
      }

      _accountChanged(){
        console.log("Cuenta cambio a :" + this.account);
        this.loading = true;
        if(this.account != ''){
          this.objAccount = JSON.parse(this.account);
          this.url = "http://127.0.0.1:3000/dev/v3/users/" + sessionStorage.getItem("user") + "/accounts/" + this.objAccount._id.$oid + "/movements";
          this.$.getMovements.generateRequest();
        }
      }

      _formatoImporte(importe){
        return numeral(importe).format('$0,0.00');
      }

      _formatoFecha(fecha){
        return moment(fecha).format('DD-MM-YYYY HH:mm');
      }

    }

    window.customElements.define(MyMovements.is, MyMovements);
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <script src="../bower_components/moment/moment.js" charset="utf-8"></script>
</dom-module>
