<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-user">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;

        padding: 10px;
      }

      .flex-horizontal-with-ratios {
        @apply --layout-horizontal;
        @apply --layout-wrap;
      }

      .flexchild {
        @apply --layout-flex;
        @apply --layout-center-justified;
      }

      .flex2child {
        @apply --layout-flex-2;
        @apply --layout-center-justified;
      }

      .flex3child {
        @apply --layout-flex-3;
        @apply --layout-center-justified;
      }

      .big {
        --iron-icon-height: 64px;
        --iron-icon-width: 64px;

      }

      #toastErr {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
      }

      #toastOk {
        --paper-toast-background-color: green;
        --paper-toast-color: white;
      }

      .avatar {
        vertical-align: middle;
        width: 70px;
        height: 70px;
        margin-left: 25%;
        border-radius: 50%;
        border-style: solid;
        border-color: #352633;
        border-width: 1.5px;
      }

      .avatar2 {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-left: 25%;
        border-radius: 50%;
        border-style: solid;
        border-color: #352633;
        border-width: 1.5px;
      }

      .titulo {
        font-weight: 600;
        color: #4c9689;
      }

      .row:nth-child(odd) {
        background-color: #CEF6F5;
        padding: 10px;
      }

      .row:nth-child(even) {
        background-color: #EFFBFB;
        padding: 10px;
      }

      .row:hover {
        background-color: #4d394b;
        color: #CEF6F5;
      }

      .remove {
        color: #FA5858;
        border-radius: 50%;
        margin-top: 5px;
        height: 26px;
        width: 26px;
        margin-left: 50%;
      }

      .remove:hover {
        background-color: #CEF6F5;
        font-weight: bold;
        cursor: pointer;
      }

      .add {
        color: #4c9689;
        border-radius: 50%;
        margin-top: 5px;
        height: 26px;
        width: 26px;
        margin-left: 50%;
      }

      .add:hover {
        background-color: #CEF6F5;
        font-weight: bold;
        cursor: pointer;
      }

      .pending {
        color: #3f4242fd;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        margin-left: 50%;
      }
    </style>
    <div class="card">
      <template is="dom-if" if="!loading">
        <div class="flex-horizontal-with-ratios">
          <div class="flex2child titulo">
            <img src="[[urlAvatar]]" alt="Example face!" class="avatar">
          </div>
          <div class="flex2child titulo">
            Nombres
          </div>
          <div class="flex2child titulo">
            Apellidos
          </div>
          <div class="flex2child titulo">
            Email
          </div>
        </div>
        <div class=" flex-horizontal-with-ratios">
          <div class="flex2child">

          </div>
          <div class="flex2child">
            [[user.first_name]]
          </div>
          <div class="flex2child">
            [[user.last_name]]
          </div>
          <div class="flex2child">
            [[user.email]]
          </div>
        </div>
      </template>
      <paper-spinner active$=[[loading]] hidden$="[[!loading]]"></paper-spinner>
    </div>
    <div id="container" class="card">

      <div class="flex-horizontal-with-ratios">
        <div class="flexchild" style="flex-direction: row; margin: 15px; vertical-align: middle;">
          <b>Participes</b>
        </div>
        <div class="flex2child">

        </div>
        <div class="flex2child">

        </div>
        <div class="flexchild">

        </div>
        <div class="flex2child" style="vertical-align: middle">

          <template is="dom-if" if="[[!userPending]]">
            <paper-input label="nuevo usuario" id="usuario" value={{usuario}} on-change="_buscarUsuario">
              <iron-icon icon="mail" slot="prefix"></iron-icon>
              <paper-icon-button slot="suffix" onclick="clearInput()" icon="clear" alt="clear" title="clear">
              </paper-icon-button>
            </paper-input>
          </template>
          <template is="dom-if" if="[[userPending]]">
            <h5>Para incluir un nuevo usuario por favor confirme la operacion pendiente haciendo click en
              <iron-icon id="adduser" icon="add-circle" slot="item-icon" class="" on-tap="_removeUser" tabindex="0"></iron-icon>
            </h5>
          </template>
        </div>
      </div>
      <!-- <iron-list items="{{relateds}}"> -->
        <template is="dom-repeat" items="{{relateds}}">
          <div class="row flex-horizontal-with-ratios">
            <div class="flexchild">
              <img src="[[_getUrlAvatarRelated(item._id.$oid)]]" class="avatar2" alt="">
            </div>
            <div class="flex2child">
              [[item.first_name]]
            </div>
            <div class="flex2child">
              [[item.last_name]]
            </div>
            <div class="flex2child">
              [[item.email]]
            </div>
            <div class="flexchild">
              <template is="dom-if" if="[[item.pending]]">
                <iron-icon id="adduser" icon="add-circle" slot="item-icon" class="add" on-tap="_addRelatedUser" tabindex="0"></iron-icon>
              </template>
              <template is="dom-if" if="[[!item.pending]]">
                <iron-icon id="removeuser" icon="remove-circle" slot="item-icon" class="remove" on-tap="_removeRelatedUser" tabindex="0"></iron-icon>
              </template>
            </div>
          </div>
        </template>
      <!-- </iron-list> -->

    </div>
    </div>
    <iron-ajax id="getCheckEmail" method="POST" body='{{postBody}}' handle-as="json" content-type="application/json" on-response="_getCheckEmailSuccess"
      on-error="_getCheckEmailError" url="http://127.0.0.1:3000/dev/v3/checkemail/">
    </iron-ajax>
    <iron-ajax id="getUser" method="GET" handle-as="json" content-type="application/json" on-response="_getUserSuccess" on-error="_getUserError"
      url="[[url]]">
    </iron-ajax>
    <iron-ajax id="getRelatedUsers" method="GET" handle-as="json" content-type="application/json" on-response="_getRelatedUsersSuccess"
      on-error="_getRelatedUsersError" url="[[url]]">
    </iron-ajax>
    <iron-ajax id="updateRelatedUsers" method="PUT" body='{{postBody}}' handle-as="json" content-type="application/json" on-response="_updateRelatedUsersSuccess"
      on-error="_updateRelatedUsersError" url="[[url]]">
    </iron-ajax>
    <paper-toast id="toastErr" class="fit-bottom" text="[[msg]]" verticalAlign="top"></paper-toast>
    <paper-toast id="toastOk" class="fit-bottom" text="[[msg]]" verticalAlign="top"></paper-toast>
  </template>

  <script>
    class MyUser extends Polymer.Element {
      static get is() { return 'my-user'; }
      static get properties() {
        return {
          url: {
            type: String,
            value: ""
          },
          user: Object,
          loading: {
            type: Boolean,
            value: true
          },
          relateds: Object,
          urlAvatar: {
            type: String,
            computed: '_getUrlAvatar()'
          },
          usuario: {
            type: String,
            value: ""
          },
          postBody: String,
          userPending: {
            type: Boolean,
            value: false
          },
          msg: String,
        }
      }

      ready() {
        super.ready();
        this.url = "http://127.0.0.1:3000/dev/v3/users/" + sessionStorage.getItem("user");
        console.log("user :" + sessionStorage.getItem("user"));
        this.$.getUser.generateRequest();
      }

      _getUrlAvatar() {
        return "https://api.adorable.io/avatars/100/" + sessionStorage.getItem("user") + ".png"
      }

      _getUrlAvatarRelated(id) {
        return "https://api.adorable.io/avatars/100/" + id + ".png"
      }

      _getUserError() {

      }

      _getUserSuccess(data) {
        this.user = data.detail.response;
        console.log(data.detail.response.first_name);
        this.loading = false;
        //cambio url para buscar relacionados
        this.url = "http://127.0.0.1:3000/dev/v3/users/" + sessionStorage.getItem("user") + "/relateds";
        this.$.getRelatedUsers.generateRequest();
      }

      _getRelatedUsersSuccess(data) {
        this.relateds = data.detail.response;
        //console.log(data.detail.response);
      }

      _getRelatedUsersErr(data) {

      }

      _buscarUsuario() {
        console.log(this.usuario);
        if (this.usuario != "") {
          this.postBody = `{"email":"${this.usuario}"}`;
          this.$.getCheckEmail.generateRequest();
        }

      }

      _getCheckEmailSuccess(e) {
        if (e.detail.response.first_name) {
          this.userPending = true;  
          e.detail.response.pending = true;
          this.relateds.unshift(e.detail.response);


          let _my_array = this.relateds;
          this.set('relateds', []);
          this.set('relateds', _my_array);

          console.log(this.relateds);
          setTimeout(() => {
            this.usuario = "";
          }, 3000);
          //document.getElementById('#email').$.input.focus();
        }
      }

      _getCheckEmailError() {
        this.msg = "Cuenta no existe";
        this.$.toastErr.fitInto = this.$.container;
        this.$.toastErr.open();
      }

      _addRelatedUser() {
        this.url = "http://127.0.0.1:3000/dev/v3/users/" + sessionStorage.getItem("user");
        let relatedusers = [];
        for (let i = 0; i < this.relateds.length; i++) {
          relatedusers.unshift(`"${this.relateds[i].email}"`);
        }
        this.postBody = `{ "relateds": [${relatedusers}] }`;
        console.log(this.postBody);
        this.$.updateRelatedUsers.generateRequest();

      }

      _removeRelatedUser(e) {
        //console.log(e.model.item);
        this.url = "http://127.0.0.1:3000/dev/v3/users/" + sessionStorage.getItem("user");
        let relatedusers = [];
        let indexRemove = 0;
        for (let i = 0; i < this.relateds.length; i++) {
          if(this.relateds[i]._id.$oid != e.model.item._id.$oid) {
            relatedusers.push(`"${this.relateds[i].email}"`);
          }else{
            indexRemove = i;
          }
        }
        this.postBody = `{ "relateds": [${relatedusers}] }`;
        console.log(this.postBody);
        this.relateds.splice(indexRemove, 1);
        this.$.updateRelatedUsers.generateRequest();
        
      }

      _updateRelatedUsersSuccess(e) {
        this.msg = "Datos actualizados correctamente";
        this.$.toastOk.fitInto = this.$.container;
        this.$.toastOk.open();
        this.userPending = false;
        this.usuario = "";
        let tmpuser = null;
        for (let i = 0; i < this.relateds.length; i++) {
          if(this.relateds[i].hasOwnProperty('pending')) {
            delete this.relateds[i].pending;
            tmpuser = this.relateds[i];
            this.relateds.splice(i, 1);
          }
        }

        //this.relateds.unshift(tmpuser);
        let _my_array = this.relateds;
        this.set('relateds', []);
        this.set('relateds', _my_array);
        if(tmpuser != null) {
          this.push('relateds', tmpuser); 
        } 
        console.log(this.relateds);
      }

      _updateRelatedUsersError() {
        this.msg = "Error al actualizar los datos";
        this.$.toastErr.fitInto = this.$.container;
        this.$.toastErr.open();
      }

    }


    window.customElements.define(MyUser.is, MyUser);
  </script>
</dom-module>