<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="shared-styles.html">

<link href="../bower_components/flag-icon-css/css/flag-icon.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

<dom-module id="signup-form">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment paper-item-shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .card {
        padding: 5%;
        margin-left: 25%;
        margin-right: 25%;
      }

      h5 {
        color: #4d394b
      }

      a {
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      a:hover {
        color: #4d394b;
      }

      #toastErr {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
      }

      #toastOk {
        --paper-toast-background-color: green;
        --paper-toast-color: white;
      }

      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
      }

      paper-icon-item:hover {
        color: #29ad5c;
      }

      .fields {
        margin: 20px;
      }

      .flag {
        vertical-align: middle;
        width: 30px;
        height: 20px;
        margin-left: 5px;
      }
    </style>


    <paper-toast id="toastErr" class="fit-bottom" text="[[msgErr]]" verticalAlign="top"></paper-toast>
    <paper-toast id="toastOk" class="fit-bottom" text="[[msgErr]]" verticalAlign="top"></paper-toast>
    <div id="container" class="card">
      <iron-form id="form1">
        <form method="post">
          <h3>Tech-U Practitioner Col Ed1 |
            <img src="../images/colombia.png" alt="Flag" class="flag">
          </h3>
          <h2>Registrate</h2>
          <paper-spinner active$=[[loading]] hidden$="[[!loading]]" style="margin-left: 50%"></paper-spinner>
          <template is="dom-if" if="[[!loading]]">
            <div class="fields">
              <paper-input label="Email" id="email" type="email" value="{{email}}" on-change="_onChangeEmail" required></paper-input>
              <paper-input label="Nombres" type="text" value="{{first_name}}" allowed-pattern="[a-zA-Z]*" required></paper-input>
              <paper-input label="Apellidos" type="text" value="{{last_name}}" allowed-pattern="[a-zA-Z]*" required></paper-input>
              <paper-input label="Password" type="password" value="{{password}}" required></paper-input>
              <paper-input label="Confirm Password" type="password" value="{{passwordConfirm}}" on-change="_onChangeConfirmPasswd" required></paper-input>
            </div>
            <br>
            <div class="">
              <div class="horizontal start-justified layout">
                <div>
                  <a href="#" on-tap="_showLogin">Login</a>
                </div>
              </div>
              <div class="horizontal end-justified layout">
                <paper-button id="continuar" toggles raised class="green" on-tap="_submitForm">Continuar</paper-button>
              </div>
            </div>
          </template>
        </form>
      </iron-form>
    </div>

    <iron-ajax id="getCheckEmail" method="POST" body='{{postBody}}' handle-as="json" content-type="application/json" on-response="_getCheckEmailSuccess"
      on-error="_getCheckEmailError" url="http://127.0.0.1:3000/dev/v3/checkemail/">
    </iron-ajax>
    <iron-ajax id="registerUser" method="POST" body='{{postBody}}' handle-as="json" content-type="application/json" on-response="_registerUserSuccess"
      on-error="_registerUserError" url="http://127.0.0.1:3000/dev/v3/users/">
    </iron-ajax>
  </template>


  <script>
    class SignupForm extends Polymer.Element {
      static get is() { return 'signup-form'; }

      static get properties() {
        return {
          msgErr: {
            type: String,
            value: "",
          },
          data: {
            type: Object,
            value: {}
          },
          saludo: {
            type: String,
            value: "Sign In",
          },
          email: {
            type: String,
            value: "",
          },
          password: {
            type: String,
            value: "",
          },
          passwordConfirm: {
            type: String,
            value: "",
          },
          first_name: {
            type: String,
            value: "",
          },
          last_name: {
            type: String,
            value: "",
          },
          loading: {
            type: Boolean,
            value: false,
          },
          formOk: {
            type: Boolean,
            value: false
          },
          postBody: {
            type: String,
            value: "",
          },
        };
      }


      ready() {
        super.ready();
        this.$.form1.addEventListener('iron-form-presubmit', event => this._registerUser(event));


      }

      _submitForm() {

        if (this.password != this.passwordConfirm) {
          this.msgErr = "Los passwords no coinciden";
          this.$.toastErr.fitInto = this.$.container;
          this.$.toastErr.open();
          return false;
        }

        this.$.form1.submit();
      }

      _onChangeEmail() {
        console.log('change');
        this.postBody = `{"email":"${this.email}"}`;
        this.$.getCheckEmail.generateRequest();
      }

      _onChangeConfirmPasswd() {

      }

      _registerUser(event) {
        event.preventDefault();
        this.loading = true;
        const user = {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          password: this.password
        }
        this.postBody = JSON.stringify(user);
        this.$.registerUser.generateRequest();
        console.log(JSON.stringify(user));
      }

      _getCheckEmailSuccess(e) {
        if (e.detail.response.first_name) {
          this.msgErr = "Cuenta ya existe";
          this.$.toastErr.fitInto = this.$.container;
          this.$.toastErr.open();
          setTimeout(() => {
            this.email = "";
          }, 3000);
          //document.getElementById('#email').$.input.focus();
        }
      }

      _registerUserSuccess(e) {

        if (e.detail.response) {
          this.msgErr = "Usuario registrado !";
          this.$.toastOk.fitInto = this.$.container;
          this.$.toastOk.open();
          setTimeout(() => {
            this.$.form1.reset();
            this.loading = false;
            this.dispatchEvent(new CustomEvent('show-login'));
          }, 3000);
          console.log(e.detail.response);
        }
      }

      _registerUserError(e) {
        this.loading = false;
        console.log(e);
      }

      _getCheckEmailError() {
        this.formOk = true;
        /*this.password == "" ? this.msgErr = "Error en la consulta" : this.msgErr = "Error al validar sus datos de acecso";
        this.$.toastErr.fitInto = this.$.container;
        this.$.toastErr.open();
        this.loading = false;*/
      }

      _showLogin() {
        this.$.form1.reset();
        this.dispatchEvent(new CustomEvent('show-login'));

      }

    }

    window.customElements.define(SignupForm.is, SignupForm);
  </script>
</dom-module>